<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Interactive TODO List with HTMX</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- Recommended methods for updating multiple content: https://htmx.org/examples/update-other-content/ -->
    <div id="container">
      <div id="add-todo">
        <form
          hx-post="http://localhost:8000/todo/api/"
          hx-swap="outerHTML"
          hx-target="#container"
        >
          <input type="text" name="task" />
          <button type="submit">Add Task</button>
        </form>
      </div>

      <div
        id="todo-list"
        hx-get="http://localhost:8000/todo/api/"
        hx-trigger="load"
      >
        <!-- The TODO list will be displayed here -->
      </div>
    </div>
  </body>
</html>
