<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <title>Interactive TODO List with HTMX</title>
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
  </head>
  <body>
    <!-- Recommended methods for updating multiple content: https://htmx.org/examples/update-other-content/ -->
    <div id="container">
      <div id="add-todo">
        <form
          hx-post="http://localhost:8000/todo/api/"
          hx-swap="outerHTML"
          hx-target="#container"
        >
          <input type="text" name="task" />
          <button type="submit">Add Task</button>
        </form>
      </div>

      <div
        id="todo-list"
        hx-get="http://localhost:8000/todo/api/"
        hx-trigger="load"
      >
        <!-- TODO list will be displayed here -->
      </div>
    </div>
    <div id="faq-section" hx-get="/api/faq" hx-target="#faq-container" hx-swap="outerHTML">
      <div id="faq-container">
        <!-- FAQs will be displayed here -->
      </div>
    </div>
    <div id="statistics-section" hx-get="/api/stats" hx-target="#statistics-container" hx-swap="outerHTML">
      <div id="statistics-container">
        <!-- Statistics will be displayed here -->
      </div>
    </div>
    <div id="chat-section" hx-get="/api/chat" hx-target="#chat-container" hx-swap="outerHTML">
      <div id="chat-container">
        <!-- Chat messages will be displayed here -->
      </div>
    </div>
  </body>
</html>
